.mapControls {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .mapControls button {
    background-color: #f4f4f4; 
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 8px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(25, 6, 6, 0.1);
  }
  
  .mapControls button:hover {
    background-color: #e2231a;
    color:white;
    transform: translateY(-2px);
  }
  
  .mapControls button:active {
    transform: scale(0.96);
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }